<?xml version="1.0" encoding='utf-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org..DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<select id="getList" resultType="board">
	SELECT bookid,
	       bookname,
	       publisher,
	       price
	  FROM book
  ORDER BY bookid ASC
	</select>
	
	<insert id="save" parameterType="board">
	INSERT INTO book(bookname,
	                 authors,
					 publisher, 
					 price,
	                 isbn,
	                 category,
	                 bookimg)
		   VALUEs(#{bookname},#{price}, #{publisher}, #{price}, #{isbn}, #{category}, #{bookimg})
	
	</insert>
	<select id="detail" parameterType="int" resultType="board">
		SELECT bookid,
	       bookname,
	       authors,
	       publisher,
	       price,
	       isbn,
	       category,
	       bookimg
	  FROM book
  	 WHERE bookid = #{id}
	</select>

	<delete id ="goDelete" parameterType="int">
		DELETE FROM book
		      WHERE bookid = #{id}
	</delete>
	<update id="goUpdate" parameterType="board">
			UPDATE book
			SET bookname = #{bookname},
			    publisher = #{publisher},
			    price = #{price}
			WHERE bookid = #{bookid};
	</update>

	<!-- 책 정보 저장 -->
	<insert id="saveBook" parameterType="com.example.demo.dto.BoardDTO">
		INSERT INTO books (bookid, bookname, authors, publisher, price, isbn, category, bookimg, description, pubdate)
		VALUES (DEFAULT, #{bookname}, #{authors}, #{publisher}, #{price}, #{isbn}, #{category}, #{bookimg}, #{description}, #{pubdate})
	</insert>

</mapper>